{{ define "main" }}

{{ if site.Data.Portfolio.heading.enable }}
{{ with site.Data.Portfolio.heading }}
<!-- page title -->
<section class="page-title-alt bg-primary position-relative overflow-hidden">
  <div class="container mb-5">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h1 class="text-white font-tertiary mt-5">{{ .title | markdownify }}</h1>
        <p class="text-white hero-subheading text-uppercase pt-3">Go through our Portfolio here <span><i class="fa fa-arrow-down pl-3" aria-hidden="true"></i>
      </div>
      <div class="col-lg-6 mx-auto d-lg-block d-md-block d-xs-none">
        <img class="img-fluid w-75 hero-image div-desktop" src="{{`images/illustrations/Process.png` | relURL}}">

      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{`images/illustrations/Star-1-B.png`| relURL}}" alt="illustrations" class="bg-shape-1">
  <img src="{{`images/illustrations/Star-1.png`| relURL}}" alt="illustrations" class="bg-shape-2">
  <img src="{{`images/illustrations/Star-2-1.png`| relURL}}" alt="illustrations" class="bg-shape-3">
  <img src="{{`images/illustrations/Star-3.png`| relURL}}" alt="illustrations" class="bg-shape-4">
</section>
<!-- /page title -->
{{ end }}
{{ end }}
<!-- <div class="container p-5">
  <div class="row">
    {{ range $index, $element := (where .Site.RegularPages "Section" "portfolio") }}
    
    <div class="col-md-4">
      <a href="{{.RelPermalink}}">
      <div class="card-container">
        <div class="card-portfolio">
          <div class="front">
            {{with .Params.title}}
            <h1 class="title-portfolio">
              {{. | safeHTML}}
            </h1>
            {{ end }}
            {{with .Params.subtitle}}
            <h2 class="sub-title-portfolio text-packages p-2"> 
              {{. | safeHTML}}
            </h2>
            {{ end }}
            <h5 class="text-justify font-weight-light">Avalible for: <i class="fab fa-1x fa-android andriod"></i>
              <i class="fab fa-1x fa-apple" style="color:#333333;"></i> </h5>
            


            <a class="gradient-portfolio  text-packages mt-5"><u>READ MORE <span class="arrow"><i class="fas fa-arrow-right checked"></i></span></u></a>
            <div class="d-flex justify-content-center">
              <img class="image-portfolio w-100 rounded h-50" src="{{ .Params.image | relURL }}" alt="">
            </div>
          </div>
          <a href="{{.RelPermalink}}">
          <div class="back">
            {{with .Params.title}}
            <h3 class="text-packages">            
                {{. | safeHTML}}
            </h3>
            <div class="mt-3">
              <p class="text-left font-weight-bold">
                Ratings: <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star unchecked"></span>
                <span class="fa fa-star unchecked"></span>
              </p>
            </div>
            <div class="mt-3">
              <p class="text-left font-weight-bold">
                <i class="fa fa-download mr-2" aria-hidden="true"></i>Downloads: 1.2M
              </p>
            </div>
            {{ end }}
            {{ with .Params.content}}
            <p class="card-paragrapgh">{{. | markdownify}}</p>
            {{ end }}
            <div class="d-flex justify-content-center">
              <div class="mt-auto p-3">
                <a href="{{.RelPermalink}}" class="btn btn-sm btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div> -->
<div class="container p-5">
  <div class="row">
    {{ range $index, $element := (where .Site.RegularPages "Section" "portfolio") }}  
      <div class="col-md-4 col-xs-12 mt-5">
        <div class="portfolio-card">
          <div class="portfolio-image">
            <div class="d-flex justify-content-center">
              <img class="img-responsive" src="{{ .Params.image | relURL }}" alt="">
            </div>
          </div>
            <div class="mt-auto">
              {{with .Params.title}}
            <div class="portfolio-card-title">
              {{. | safeHTML}}
            </div>
            {{ end }}
            </div>
            {{with .Params.subtitle}}
            <div class="portfolio-card-subtitle">
              {{. | safeHTML}}
            </div>
            {{ end }}
            <div class="mt-auto">
            <hr>
            <div class="d-flex justify-content-start ml-2">
                  <a href="{{.RelPermalink}}" class="button-portfolio text-nowrap">View Project</a>
            </div>
            </div>
        </div>
      </div>
    {{ end }}
  </div>
</div>

<section class="section">
  
</section>
<!-- <section class="feature-list section">
  <div class="container">
    <div class="p-3"></div>
    {{ range $index, $element := (where .Site.RegularPages "Section" "portfolio") }}
    {{- if ne (mod $index 2) 1 }}
    <div class="row mb-40 {{.Params.bg}} rounded-right">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <div class="align-middle">
          <a class="text-white" href="{{.RelPermalink}}"><img class="img-fluid p-5 mt-5 rounded-circle zoom" src="{{ .Params.image | relURL }}" alt="">
        </a>
          </div>
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading pt-3"><a class="text-white" href="{{.RelPermalink}}">{{ .Title | markdownify }}</a></h4>
          {{ with .Params.content}}
        <p class="text-white h5 text-justify font-weight-bold">{{. | markdownify}}</p>
        {{ end }}
          <a href="{{ .RelPermalink }}" class="btn btn-main btn-main-sm text-white">Read More</a>
        </div>
      </div>
    </div>
    {{- else }}
    <div class="row mb-40 {{.Params.bg}} rounded-left">
      <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading pt-3"><a class="text-white" href="{{.RelPermalink}}">{{ .Title | markdownify }}</a></h4>
          {{ with .Params.content}}
        <p class="text-white h5 text-justify font-weight-bold">{{. | markdownify}}</p>
        {{ end }}
          <a href="{{ .RelPermalink }}" class="btn btn-main btn-main-sm text-white">Read More</a>
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0 ">
        <a class="text-white" href="{{.RelPermalink}}"><img class="img-fluid p-5 rounded-circle zoom" src="{{ .Params.image | relURL }}" alt=""></a>
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</section> -->

<!-- portfolio
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex flex-wrap" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
					{{ $categories := slice }}
					{{ range .Data.Pages }}
					{{ range .Params.categories }}
					{{ $categories = $categories | append . }}
					{{ end }}
					{{ end }}
					{{ range ( $categories | uniq ) }}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . | humanize }}
          </label>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[{{range $index, $element:= .Params.categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
        <div class="position-relative rounded hover-wrapper">
          <img src="{{.Params.image | absURL }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ .Permalink }}">view project</a>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
/portfolio

<section class="section bg-light">
  <div class="container">
    {{ partial "client-slider.html" . }}
  </div>
</section> -->

{{ end }}