{{ if site.Data.homepage.about.enable }}
<!-- about -->
<section class="section" id="us">
  <div class="container">
    <div class="row">
      <p class="h3 ml-3 text-uppercase text-secondary font-weight-bold">WHO WE ARE</p>
    </div>
    <div class="row">
      <div class="block-line ml-3"></div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <p class="h2 pt-5 text-uppercase about-us-color font-weight-bold">About us</p>

        <a href="/about" class="btn btn-outline-primary text-uppercase mt-5 mb-3">Explore
          <i class="ti-angle-right"></i></a>
      </div>
      <div class="col-lg-7 d-flex justify-content-end text-secondary text-center">
        <p class="font-secondary text-justify  about-us-text">
          <span class="about-us-color">iMobilize</span> is a mobile app design and development studio based in
          London.<br>
          <span class="about-us-color">Mobile apps</span> and mobile optimised websites are our speciality.<br>
          We design and build <span class="about-us-color">custom-made</span> mobile apps and web systems that make a
          difference.
        </p>
      </div>
    </div>
    <div class="row">          
    </div>
  </div>
</section>
<!-- /about -->
{{ end }}