<!-- blog hero -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#heading").fadeIn(3000);
    });
</script>

<section class="page-title  bg-primary position-relative overflow-hidden">
    <div class="container mb-5">
        <div class="row">
         
          <div class="col-sm-12 col-md-6 text-start" id="heading" style="display: none;">
            
            <h3 class="text-white hero-subheading font-tertiary mt-5">{{.Title}}</h3>
            <p class="text-uppercase font-weight-bold text-white pt-3"> You can read read our latest updates on the tech industry here <span><i class="fa fa-arrow-right pl-3" href aria-hidden="true"></i></span></p>
    
          </div>
          <div class="col-lg-6 mx-auto d-lg-block d-md-block d-xs-none">
            <img class="img-fluid w-75 hero-image div-desktop" src="{{`images/illustrations/Process.png` | relURL}}">
    
          </div>
        </div>
      </div>
    <img src="{{`images/illustrations/Star-1-B.png`| relURL}}" alt="illustrations" class="bg-shape-1 w-75">
  <img src="{{`images/illustrations/Star-1.png`| relURL}}" alt="illustrations" class="bg-shape-2">
  <!-- <img src="{{`images/illustrations/dots-cyan.svg`| relURL}}" alt="illustrations" class="bg-shape-3"> -->
  <img src="{{`images/illustrations/Star-3.png`| relURL}}" alt="illustrations" class="bg-shape-4">
  <!-- <img src="{{`images/illustrations/dots-group-cyan.svg`| relURL}}" alt="illustrations" class="bg-shape-6"> -->
</section>
