<!-- hero area -->
<section class="hero-area bg-primary overflow-hidden" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <h2 class="text-white font-tertiary">{{ site.Data.homepage.banner.title | safeHTML }}</h2>
        </div>
        <div class="col-lg-6 mx-auto">
          <img class="img-fluid w-100 hero-image" src="{{`images/illustrations/Process.png` | relURL}}">
  
        </div>
      </div>
    </div>
    <div class="layer-bg w-100">
      <!-- <img class="img-fluid w-100" src="{{`images/illustrations/leaf-bg.png` | relURL}}" alt="bg-shape"> -->
    </div>
    <div class="layer" id="l2">
      <img class="img-fluid w-50" src="{{`images/illustrations/Star-1.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l3">
      <!-- <img class="img-fluid w-50" src="{{`images/illustrations/Glow-1.png` | relURL}}" alt="bg-shape"> -->
    </div>
    <div class="layer" id="l4">
      <img class="img-fluid w-75" src="{{`images/illustrations/Star-1-B.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l5">
      <img class="img-fluid w-75" src="{{`images/illustrations/Star-2-1.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l6">
      <img class="img-fluid w-75" src="{{`images/illustrations/Star-3.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l7">
      <!-- <img src="{{`images/illustrations/dots-group-orange.svg` | relURL}}" alt="bg-shape"> -->
    </div>
    <div class="layer" id="l8">
      <!-- <img src="{{`images/illustrations/leaf-pink-round.svg` | relURL}}" alt="bg-shape"> -->
    </div>
    <div class="layer" id="l9">
      <!-- <img src="{{`images/illustrations/leaf-cyan-2.svg` | relURL}}" alt="bg-shape"> -->
    </div>
    <!-- social icon -->
    <!-- <ul class="list-unstyled ml-5 mt-0 pt-0 position-relative zindex-1">
        {{ range site.Params.social }}
        <li class="mb-3"><a class="text-white" href="{{.URL | safeURL }}"><i class="{{.icon}}"></i></a></li>
        {{ end }}
      </ul> -->
    <!-- /social icon -->
  </section>
  <!-- /hero area -->
<style>
    
</style>
<!-- CSS only -->
