<section class="hero-image horizontal-gradient" id="parallax">
    <div class="container regular text-dark pb-5 pt-10">
        <div class="row pt-5 mb-4">
          <div class="col-md-6 col-xs-12">
            <h1 class="text-left text-white mt-3 text-uppercase">Your
                customers are <span class="bg-orange font-weight-bold">mobile</span></h1> </br>
            </br>
            <h4 class="text-white font-weight-bold mt-2 mb-2"> That’s Why We Create Mobile Apps and Mobile
                Responsive Websites So That You Can Reach Them
            </h4>
            </br>
            </br>
            <div class="mb-5">
              <a class="btn-orange text-white" href="https://mobile-app-development-company.com/enquiry-form/">Get your estimate now</a>
            </div>
        </div>
            <div class="col-md-6 col-xs-12">
                <div class="d-flex justify-content-end">
                    <div class="m-auto">
                        <div class="ag-slider-wrapper">
                            <div class="empty-iphone">
                                <img src="images/hero/iphone-empty.png" alt="iPhone Ios development" class="banner-wrapper">
                            </div>
                            <div class="owl-carousel owl-theme">
                                <div class="item"><img src="images/hero/sky-app.png" alt="Sky Go App created and developed by iMobilize" class="img-fluid"></div>
                                <div class="item"><img src="images/hero/buddy-bounce-app.png" alt="Buddy bounce App created and developed by iMobilize" class="img-fluid"></div>
                                <div class="item"><img src="images/hero/onit-app.png" alt="Onit App created and developed by iMobilize" class="img-fluid"></div>
                                <div class="item"><img src="images/hero/sky-app.png" alt="Sky Go App created and developed by iMobilize" class="img-fluid"></div>
                                <div class="item"><img src="images/hero/buddy-bounce-app.png" alt="Buddy bounce App created and developed by iMobilize" class="img-fluid"></div>
                                <div class="item"><img src="images/hero/onit-app.png" alt="Onit App created and developed by iMobilize" class="img-fluid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>


<script>
    $('.owl-carousel').owlCarousel({
            items: 1,
            autoplay: true,
            stagePadding: 0,
            lazyLoad: true,
            loop: true,
            dots: false,
            mouseDrag: true,
            touchDrag: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        });
</script>
