<style>
  .heading {
    color: #4c4c4c;
  }
</style>
<section class="bg-light div-desktop">
  <div class="container">
    <div class="row pb-5">
      <div class="col-md-12">
        <h2 class="heading font-weight-bold font-secondary p-3">Here's how we can <span class="about-us-color">help</span> you...</h2>
      </div>
      <div class="block-line ml-4"></div>
    </div>
    <div class="row pt-5">
      <div class="col-md-12 h-100">
        <div class="d-flex justify-content-start">
          <div class="object">
            <img
              src="images/products/branding-for-profit.png"
              alt="Branding for profit. A product by iMobilize ltd"
              class="w-100 pt-3"
            />
            <div class="object__intro">
              <div class="circle">
                <div class="d-flex justify-content-center">
                  <h2 id="circle-number" class="text-color">1</h2>
                </div>
              </div>
              <h4 class="object__intro-title pt-3 font-secondary font-weight-bolder">
                New here? Want to start a <span class="font-secondary about-us-color">brand</span>?
              </h4>
              <p class="object__intro-text font-weight-bold text-secondary">
                Branding For Profit is a brand new counterintuitive approach to
                creating a highly profitable brand.
              </p>
              <div class="d-flex d-inline-block">
                <a href="https://brandingforprofitbook.com/" class="btn btn-secondary">Get Started</a>
              </div>
            </div>
          </div>

          <div class="arrow1">
            <div class="arrow__body1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-12"></div>
    </div>

    <div class="row pt-5">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="d-flex justify-content-center">
          <div class="object">
            <img
              src="images/products/software-startup-academy-course.png"
              alt="Software startup Academy, a product by iMobilize ltd"
              class="img-fluid"
            />
            <div class="object__intro pl-0">
              <div class="circle">
                <div class="d-flex justify-content-center">
                  <h2 id="circle-number" class="text-color">2</h2>
                </div>
              </div>
              <h4 class="object__intro-title mt-3 font-secondary font-weight-bolder">
                For Early Stage <span class="about-us-color font-secondary">Entrepreneurs</span> Who Want To Learn About Startups
              </h4>
              <p class="object__intro-text">
                The arrow change its body length while still always point to a
                certain position, even you resize the widow.
              </p>
              <div class="d-flex d-inline-block">
                <a href="https://www.softwarestartupacademy.com/" class="btn btn-secondary">Learn More</a>
              </div>
            </div>
          </div>
          
          <div class="arrow2">
            <div class="arrow__body2 skew"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"></div>
    </div>
    <div class="row pt-5 pb-5">
      <div class="col-md-12 h-100 pt-5">
        <div class="d-flex justify-content-start">
          <div class="object">
            <img
              src="images/products/Fit-freaks-app-website.png"
              alt="Get your apps and website made by professionals. Fitfreaks designed and developed by iMobilize ltd"
              class="img-fluid"
            />
            <div class="object__intro">
              <div class="circle">
                <div class="d-flex justify-content-center">
                  <h2 id="circle-number" class="text-color">3</h2>
                </div>
              </div>
              <h4 class="object__intro-title mt-3 font-secondary font-weight-bolder">
                Want To <span class="about-us-color font-secondary">Improve</span> Or Build A New Website/App
              </h4>
              <p class="object__intro-text">
                Waiting to get your MVP designed and developed by US?
              </p>
              <div class="d-flex d-inline-block">
                <a href="https://mobile-app-development-company.com/enquiry-form/" class="btn btn-secondary"
                  >Estimate my project now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="div-mobile div-ipad">
  <div class="container">
    <div class="row pb-5">
      <div class="col-sm-12">
        <h2 class="text-secondary font-weight-bold">Here's how we can  <span class="about-us-color">help</span> you</h2>
      </div>
      <div class="block-line ml-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex d-inline-block">
          <center>
            <div class="circle">
              <div class="d-flex justify-content-center">
                <h2 id="circle-number" class="text-color">1</h2>
              </div>
            </div>
          </center>
          <h4 class="mt-3 font-weight-bold ml-3 font-secondary">
            New here? Want to build a <span class="bg-orange font-weight-bold">brand</span> worth billions?
        </h4>
        </div>
        <p class="object__intro-text mt-2 text-secondary font-weight-bold text-justify">
            Branding For Profit is a brand new counterintuitive approach to
            creating a highly profitable brand.
        </p>
        <div class="mt-3 mb-3">
          <img
            src="images/products/branding-for-profit.png"
            alt="Get your apps and website made by professionals. Fitfreaks designed and developed by iMobilize ltd"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-sm-12">
        <div class="d-flex justify-content-center">
          <a href="#" class="btn btn-secondary">Getting Started</a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-sm-12 pb-3">
          <div class="d-flex d-inline-block">
            <center>
              <div class="circle">
                <div class="d-flex justify-content-center">
                  <h2 id="circle-number" class="text-color">2</h2>
                </div>
              </div>
            </center>
            <h4 class="mt-2 ml-3 font-weight-bold font-secondary">
              For Early Stage <span class="bg-orange font-weight-bold">Entrepreneurs</span> Who Want To Learn About Startups
          </h4>
          </div>

        </div>
        <div class="col-sm-12">
          <p class="object__intro-text font-weight-bold text-secondary">
            Enabling you to use your software development skills to launch your own successful startup
          </p>
          <div class="">
            <img
              src="images/products/software-startup-academy-course.png"
              alt="Software Startup Academy, a product of iMobilize ltd"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <a href="https://www.softwarestartupacademy.com/" class="btn btn-secondary">Learn More</a>
          </div>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-sm-12 pb-3">
          <div class="d-flex d-inline-block">
            <center>
              <div class="circle">
                <div class="d-flex justify-content-center">
                  <h2 id="circle-number" class="text-color">3</h2>
                </div>
              </div>
            </center>
            <h4 class="mt-3 ml-3 font-weight-bold font-secondary">
              Want To <span class="bg-orange">Improve</span> Or Build A New Website/App
            </h4>
          </div>
        </div>
        <div class="col-sm-12">
          
          <p class="object__intro-text font-weight-bold text-secondary">
            Waiting to get your MVP designed and developed by US?
          </p>
          <div class="p-3">
            <img
              src="images/products/Fit-freaks-app-website.png"
              alt="Get your apps and website made by professionals. Fitfreaks designed and developed by iMobilize ltd"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-sm-12 mt-5">
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-secondary">Estimate my project now</a>
          </div>
        </div>
    </div>
  </div>
</section>
