<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3 class="font-weight-bold text-secondary">Latest Blog Posts</h3>
                <div class="block-line ml-3 mb-5"></div>
                <p class="subheading font-weight-bold text-secondary">You can read read our latest updates on the tech industry <a href="blog" class="nav-item">here</a></p>
            </div>        
        </div>
        <div class="row">
            {{- range ( where site.RegularPages "Section" "blog" | first 3 ) }}
            <div class="col-md-4 p-3">
                <div class="card packages-card border h-100">
                    <div class="card-body d-flex align-items-start flex-column">
                        <a href="{{.Permalink}}" title="{{.Title }}"><img class="img-fluid w-100" src="{{.Params.Image | relURL}}" alt="{{.Title }}"></a>
                      <p class="mt-5" >By {{.Params.author}}<br><sub class="text-secondary"> on {{ .PublishDate.Format "Jan 02, 2006" }} </sub></p>
                      <a href="{{.Permalink}}" title="{{.Title }}"><h4 class="text-left font-tertiary pl-2 pl-2 mb-4 card-title font-weight-bold">{{.Title }}</h4></a>
                      <p class="card-paragrapgh">{{ .Summary }}</p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <div class=" mt-auto p-3">
                            <a href="{{.RelPermalink}}" class="btn btn-sm btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
