<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h3 class="font-weight-bold text-secondary">Latest Blogs</h3>
                <div class="block-line ml-3 mb-5"></div>
            </div>
            {{- range ( where site.RegularPages "Section" "blog" | first 3 ) }}
            <div class="d-flex d-inline-block">
                <div class="col-md-12 p-3">
                    <article class="card shadow border border-secondary h-100 " style="width: 18rem;">
                        <a href="{{.Permalink}}" title="{{.Title }}"><img class="card-img-top  img-fluid" src="{{.Params.Image | relURL}}" alt="{{.Title }}"></a>
                        <div class="card-body">
                          <p >By {{.Params.author}}<br><sub class="text-secondary"> on {{ .PublishDate.Format "Jan 02, 2006" }} </sub></p>
                    
                          <h5 class="card-title"><a class="text-dark" href="{{.Permalink}}">{{.Title }}</a>
                          </h5>
                          <p class="cars-text text-truncate">{{.Summary}}</p>
                          <div class="p-3 d-flex justify-content-center">
                            <a href="{{.Permalink}}" class="btn btn-sm btn-primary">Read More</a>
                          </div>
                        </div>
                    </article>
                </div>
            </div>
            {{ end }}            
        </div>
    </div>
</section>
