<!-- page title -->
<style>
.vector {
  position:absolute;
  z-index:0;
}

.vector2 {
  position:absolute;
  z-index: 0;
left: 359px;
top: -4px;

}
.hero_image {
  position: relative;
  z-index: 2;
}

ul li.a:before {
 content: '✓';
 color: rgb(0, 219, 0); 
}
ul li.b:before {
  content: '&#9676;'
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  
    $("#heading").fadeIn(1000);
    $("#cover").fadeIn(2000);
    $("#logo").fadeIn(3000);
  
});
</script>
<script>
  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
</script>

<section class="page-title-portfolio  {{.Params.bg}} position-relative overflow-hidden">
  <div class="mb-5" id="cover" style="display: none;">
    <img src="/images/packages/vector-1.png" class="vector img-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="mt-3 text-left text-white font-weight-bold">{{.Title}}</h3>
          <p class="subheading mt-3 text-left text-white">{{.Params.subtitle}}</p>
          <p class="mt-3 text-left text-white">{{.Params.hero_Paragraph}}</p>
          <div class="d-flex d-inline-block">
            <div class="col-md-6 mt-3">
              <ul>
                <li class="a font-weight-bold text-white " style="list-style-type: none; 	
                margin-left: -38px;"><span class="ml-3">{{.Params.list_item_1}}</span></li>
                <li class="a font-weight-bold text-white " style="list-style-type: none; 	
                margin-left: -38px;"><span class="ml-3">{{.Params.list_item_2}}</span></li>
                <li class="a font-weight-bold text-white " style="list-style-type: none; 	
                margin-left: -38px;"><span class="ml-3">{{.Params.list_item_3}}</span></li>
              </ul>
              <!-- <div class="mt-3">
                <a class="btn btn-lg btn-light" href="/packages">Packages</a>
              </div> -->
            </div>
            <div class="col-md-6 mt-3">
              <div class="d-flex justify-content-center">
                <ul>
                  <li class="a font-weight-bold text-white" style="list-style-type: none; 	
                  margin-left: -38px;"><span class="ml-3">{{.Params.list_item_4}}</span></li>
                  <li class="a font-weight-bold text-white" style="list-style-type: none; 	
                margin-left: -38px;"><span class="ml-3">{{.Params.list_item_5}}</span></li>
                <li class="a font-weight-bold text-white" style="list-style-type: none; 	
                margin-left: -38px;"><span class="ml-3">{{.Params.list_item_6}}</span></li>            
                </ul>
              </div>
              <!-- <div class="mt-3">
                <a class="btn btn-lg btn-secondary btn-light" href="/packages">Get a Quote</a>
              </div> -->
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="#" class="button-socialmedia-hero button-wiggle">Get A Quote</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mr-auto">
            <img src="/images/packages/vector-2.png" class="vector2 img-fluid">
          </div>

          <img src="{{ .Params.hero_image | relURL }}" class="img-fluid hero_image pt-3">
        </div>
      </div>
    </div>
  </div>
 
</section>
