
<section class="page-title-portfolio  {{.Params.bg}} position-relative overflow-hidden">
  
  <div class="container">
    <div class="row">
     
      <div class="col-12 text-start">
        
        <h2 class="text-white font-tertiary font-weight-bold">{{.Title}}</h2>
        <p class="text-white font-tertiary hero-subheading pb-4">{{.Params.subtitle}}</p>

      </div>
    </div>
  </div>
  <div class="portfolio_{{.Params.cover}}">
  </div>
</section>
<img src="{{ .Params.logo | absURL }}" class="img-fluid logo-position" alt="{{ .Title }}">

<!-- /page title -->
