
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <h1 class="text-center">Social Media Marketing</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus unde enim, amet nisi omnis nesciunt perspiciatis blanditiis. Delectus nemo corporis officiis. Voluptatem excepturi adipisci aliquid quo autem! Recusandae, sapiente voluptatibus.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card border border-info">
                <div class="card-body">
                    <h3 class="text-nowrap about-us-color card-title">Standard package</h3>
                    <h4 class="text-center card-text">299£</h4>
                    <hr>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Social Channels(Facebook, Instagram)
                        </li>
                        <li class="list-group-item"> Social Media Audit
                        </li>
                        <li class="list-group-item"> Set Up and Optimization Of Business Page/Profile
                        </li>
                        <li class="list-group-item"> Page Management
                        </li>
                        <li class="list-group-item"> Weekly 2 Posts
                        </li>
                        <li class="list-group-item"> Content Calendar
                        </li>
                        <li class="list-group-item"> Content Creation
                        </li>
                        <li class="list-group-item"> Hashtag Optimization
                        </li>
                        <li class="list-group-item"> Advertisement Campaigns ( Ads Payment Not Included ) Upto $50
                        </li>
                        <li class="list-group-item"> Monthly Reporting & Goal Evaluation
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center mt-3 mb-3">
                        <a href="#" class="btn btn-main btn-lg">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border border-info">
                <div class="card-body">
                    <h3 class="text-nowrap about-us-color card-title">Midway Package</h3>
                    <h4 class="text-center card-text">459£</h4>
                    <hr>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Social Channels(Facebook, Instagram, Twitter)

                        </li>
                        <li class="list-group-item"> Social Media Audit
                        </li>
                        <li class="list-group-item"> Set Up and Optimization Of Business Page/Profile
                        </li>
                        <li class="list-group-item"> Page Management
                        </li>
                        <li class="list-group-item">  Weekly 4 Posts

                        </li>
                        <li class="list-group-item"> Content Calendar
                        </li>
                        <li class="list-group-item"> Content Creation
                        </li>
                        <li class="list-group-item"> Hashtag Optimization
                        </li>
                        <li class="list-group-item"> Image Alt Text
                        </li>
                        <li class="list-group-item"> Community Management
                        </li>
                        <li class="list-group-item"> Social Media Engagement Campaigns
                        </li>
                        <li class="list-group-item"> Advertisement Campaigns ( Ads Payment Not Included ) Upto $50
                        </li>
                        <li class="list-group-item"> Monthly Reporting & Goal Evaluation
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center mt-3 mb-3">
                        <a href="#" class="btn btn-main btn-lg">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border border-info">
                <div class="card-body">
                    <h3 class="text-nowrap about-us-color card-title">Elite Package</h3>
                    <h4 class="text-center card-text">599£</h4>
                    <hr>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> Social Channels
                            (Facebook, Instagram, Twitter,
                            LinkedIn, Pinterest )

                        </li>
                        <li class="list-group-item"> Social Media Audit
                        </li>
                        <li class="list-group-item"> Set Up and Optimization Of Business Page/Profile
                        </li>
                        <li class="list-group-item"> Page Management
                        </li>
                        <li class="list-group-item">   Weekly 7 Posts Including (Gifs & videos)
                        </li>
                        <li class="list-group-item"> Content Calendar
                        </li>
                        <li class="list-group-item"> Content Creation
                        </li>
                        <li class="list-group-item"> Hashtag Optimization
                        </li>
                        <li class="list-group-item"> Image Alt Text
                        </li>
                        <li class="list-group-item"> Community Management
                        </li>
                        <li class="list-group-item"> Reputation Management
                        </li>
                        <li class="list-group-item"> Social Media Engagement Campaigns
                        </li>
                        <li class="list-group-item"> Advertisement Campaigns ( Ads Payment Not Included ) Upto $50
                        </li>
                        <li class="list-group-item"> Monthly Reporting & Goal Evaluation
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center mt-3 mb-3">
                        <a href="#" class="btn btn-main btn-lg">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
