<section class="section">
    <img src="/images/packages/vector-3.png" class="vector img-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-justify">Features</h3>
          <p class="text-justify">We will provide you with the best of featrures to skyrocket your online business.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
          <div class="owl-carousel owl-two owl-theme">
            <div class="item">
              <div class="feature-card">
              <div class="d-flex justify-content-center">
                <img src="/images/packages/circle.png" alt="Best Social Media Packages for your business">
              </div>
              <h4 class="font-weight-bold">Hello world </h4>
                <p class="card-paragraph p-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque repellendus dolores facilis delectus repudiandae ipsam suscipit quasi impedit. Veniam beatae magnam aperiam consequatur error ad fuga nesciunt ipsa totam voluptates? </p>
                </div>
            </div>
            
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <script>
 $('.owl-two').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        responsive:{
            0:{
                items:4
            },
            600:{
                items:2
            },
            1000:{
                items:4
            }
        }
    });
  </script>

  <!-- Kamal -->