{{ define "main" }}

{{ if site.Data.about.company.enable }}
{{ with site.Data.about.company }}
<!-- page title -->
<section class="page-title-alt bg-primary position-relative overflow-hidden">
  <div class="container mb-5">
    <div class="row align-content-center">
      <div class="col-sm-12 col-md-5">
        <h1 class="text-white font-tertiary mt-5">{{ .title | markdownify }}</h1>
        <p class="text-white hero-subheading text-uppercase pt-3">Get to know us <span><i class="fa fa-arrow-down pl-3" aria-hidden="true"></i>
      </div>
      <div class="col-lg-6 mx-auto d-lg-block d-md-block d-xs-none">
        <img class="img-fluid w-75 hero-image div-desktop" src="{{`images/illustrations/Process.png` | relURL}}">

      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{`images/illustrations/Star-1-B.png`| relURL}}" alt="illustrations" class="bg-shape-1">
  <img src="{{`images/illustrations/Star-1.png`| relURL}}" alt="illustrations" class="bg-shape-2">
  <img src="{{`images/illustrations/Star-2-1.png`| relURL}}" alt="illustrations" class="bg-shape-3">
  <img src="{{`images/illustrations/Star-3.png`| relURL}}" alt="illustrations" class="bg-shape-4">
</section>
<!-- /page title -->
{{ end }}
{{ end }}


{{ if site.Data.about.company.enable }}
{{ with site.Data.about.company }}
<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row justify-items-center">
      <div class="col-md-6">
       <p class="text-secondary font-weight-bold h5 mb-4 about-us-content text-justify"> {{ .content | safeHTML}}</p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="{{`images/about/software-team.png`| relURL}}">
      </div>
    </div>
  </div>
</section>
<!-- /about -->
{{ end }}
{{ end }}


<!-- Work Process -->
{{ if site.Data.about.work_process.enable }}
{{ with site.Data.about.work_process }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
     
      {{ range .item }}
      <div class="col-lg-4 col-md-6 mb-5 text-center hover-shadow pt-3"id={{.id}}>
        <img src="{{ .icon | absURL }}" class="mb-4 img-fluid w-25" alt="icon" >
        <h4 class="mb-4">{{ .title }}</h4>
        <p class="text-justify {{.class}}">{{ .content | safeHTML }}</p>
        <img src="{{ .image | relURL}} " class="{{.class}} mb-4 img-fluid {{.width}}">
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- ./Work Process -->

<!-- team -->
<!-- {{ if site.Data.about.team.enable }}
{{ with site.Data.about.team }}
<section class="section bg-cover" data-background="{{`images/backgrounds/team-bg.png`|relURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-4 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center">
          <img src="{{ .image | absURL }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            <p class="text-light font-secondary">{{.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }} -->
<!-- /team -->

<!-- {{ if site.Data.about.clients_logo_slider.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.Data.about.clients_logo_slider.title | markdownify }}</h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }} -->

{{ end }}