{{ define "main" }}

  {{ partial "blog-hero.html" . }}


  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 text-center mb-2">
          <p class="font-secondary">Published on {{ .PublishDate.Format "Jan 02, 2006" }} by <span class="text-primary">{{ .Params.author}}</span></p>
          <img src="{{.Params.image | absURL }}" alt="{{.Title}}" class="img-fluid rounded mb-4">
        </div>
        <div class="col-lg-9">
          <div class="content">
                {{.Content }}
          </div>
        </div>
        <div class="col-lg-3">
          <div class="content">
            <p class="text-secondary h4 ml-4 font-weight-bold">recent post</p>
            <ul>
              <li>
               list
                <hr>
              </li>
            </ul>
          </div>
          <hr>
          <div class="content">
            <p class="text-secondary h4 ml-4 font-weight-bold">TAGS</p>
            <ul>
              <li>
               list
                <hr>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}